<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SeonWoo.ColorCheck">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@drawable/notebook"
        android:label="ColorCheck"
        android:roundIcon="@drawable/notebook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Day"></activity>
        <activity android:name=".TakeBackup" />
        <activity android:name=".DateInput" />
        <activity android:name=".AddOrEdit" />
        <activity android:name=".SettingNickname" />
        <activity android:name=".History_passwordCheck" />
        <activity android:name=".Nickname" />
        <activity android:name=".SettingPasswordCheck" />
        <activity android:name=".VerInfo" />
        <activity android:name=".SettingPassword" />
        <activity android:name=".Withdrawal" />
        <activity android:name=".FirstAuthActivity" />
        <activity android:name=".FindPassword" />
        <activity android:name=".FindID" />
        <activity android:name=".Setting" />
        <activity android:name=".SettingColor" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".History" />
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Camera" />
        <activity android:name=".Splash" /> <!-- 이부분을 추가합니다 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider> <!-- 여기까지 추가합니다 -->
        <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="com.SeonWoo.ColorCheck.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI9sBrBQ0vNAq5bxaFuk8GY81iC9WAsDHj9Z88bQ" />
    </application>

</manifest>