<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SeonWoo.ColorCheck">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@drawable/notebook"
        android:label="ColorCheck"
        android:roundIcon="@drawable/notebook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.SeonWoo.ColorCheck.TakeBackup"/>
        <activity android:name="com.SeonWoo.ColorCheck.DateInput" />
        <activity android:name="com.SeonWoo.ColorCheck.AddOrEdit" />
        <activity android:name="com.SeonWoo.ColorCheck.SettingNickname" />
        <activity android:name="com.SeonWoo.ColorCheck.History_passwordCheck" />
        <activity android:name="com.SeonWoo.ColorCheck.Nickname" />
        <activity android:name="com.SeonWoo.ColorCheck.SettingPasswordCheck" />
        <activity android:name="com.SeonWoo.ColorCheck.VerInfo" />
        <activity android:name="com.SeonWoo.ColorCheck.SettingPassword" />
        <activity android:name="com.SeonWoo.ColorCheck.Withdrawal" />
        <activity android:name="com.SeonWoo.ColorCheck.FirstAuthActivity" />
        <activity android:name="com.SeonWoo.ColorCheck.FindPassword" />
        <activity android:name="com.SeonWoo.ColorCheck.FindID" />
        <activity android:name="com.SeonWoo.ColorCheck.Setting" />
        <activity android:name="com.SeonWoo.ColorCheck.SettingColor" />
        <activity android:name="com.SeonWoo.ColorCheck.SignUp" />
        <activity android:name="com.SeonWoo.ColorCheck.Login" />
        <activity android:name="com.SeonWoo.ColorCheck.History" />
        <activity android:name="com.SeonWoo.ColorCheck.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.SeonWoo.ColorCheck.Camera" />
        <activity android:name="com.SeonWoo.ColorCheck.Splash" />

        <!-- 이부분을 추가합니다 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"

            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
        <!-- 여기까지 추가합니다 -->

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.SeonWoo.ColorCheck.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->
<!--        </provider>-->

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI9sBrBQ0vNAq5bxaFuk8GY81iC9WAsDHj9Z88bQ" />
    </application>

</manifest>